




.dark-mode {
  background-color: #222;
  height: 1200px;
  color: rgb(10, 122, 122);
}

.mode_switcher{
height: 50px;
width: 50px;
margin-top: 25px;

}
.nav{
  display: flex;
  align-items: center;
}